

<div fxLayoutAlign="center center" fxFlexFill  class="main-div"> 
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">LOGIN PAGE</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" >
            <mat-form-field >
              <input matInput placeholder="user name">
            </mat-form-field>
          
            <mat-form-field>
              <input matInput type="password" placeholder="password">
            </mat-form-field>
            <button mat-raised-button onclick="geeks()" color="primary" type="submit">Login</button>
            <button mat-raised-button color="warm" type="submit">signup</button>
          </form> 
    </mat-card>
  </div>